body {
    margin: 0;
}

p {
    font-family: 'Alegreya', serif;
    font-size: 14px;
    margin-bottom: 5%;
    }

h1  {
    color: white;
    margin-top: 1%;
    margin-right: 48%;
    }

.header,
.hero {
    background-color: pink;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding-left: 80px;
    padding-right: 80px;
    }

.button {
    border: none;
    border-width: 2px;
    border-radius: 15%;
    padding: 5px;
    color: rgb(91, 86, 86);
    margin-right: 25px;
}

h3 {
    color: white;
    margin-top: 8%;
    margin-bottom: 0;
}

.left {
    margin-bottom: 5%;
}


.image {
    width: 105px;
    height: 105px;
    border-radius: 20%;
    object-fit: cover;
    }

.image-four {
    width: 105px;
    height: 105px;
    border-radius: 20%;
    object-fit: cover;
}
    

    

