body {
    margin: 0;
    background-color: beige;
}

p {
    font-family: 'Alegreya', serif;
    font-size: 14px;
    margin-bottom: 5%;
    }

h1 {
    color: white;
    margin-top: 14px;
    margin-right: 48%;
    }

.header,
.hero {
    background-color: pink;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding-left: 80px;
    padding-right: 80px;
    }

.button {
    border: none;
    border-width: 2px;
    border-radius: 15%;
    padding: 5px;
    color: rgb(91, 86, 86);
    margin-right: 25px;
}

h3 {
    color: white;
    margin-top: 8%;
    margin-bottom: 0;
}

.left {
    margin-bottom: 5%;
}

h2 {
    color: grey;
    text-align: center;
    background-color: beige;
    padding-top: 15px;
    margin: 0%;
}

.images-container {
    background-color: beige;
    margin-top: 0px;
    padding: 25px 0 40px 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.image {
    width: 105px;
    height: 105px;
    border-radius: 20%;
    object-fit: cover;
    }

.image-four {
    width: 105px;
    height: 105px;
    border-radius: 20%;
    object-fit: cover;
}

.quote {
    background-color: rgb(172, 170, 170);
    color: rgb(251, 228, 251);
    font-weight: 700;
    padding: 80px;
    margin-top: 0px;
    text-align: center;
    font-size: 16px
}

h4 {
    color: rgb(65, 245, 65);
}

.sign-up {
      border: 1px solid hwb(16 71% 3%);
      background-color: hwb(16 71% 3%);
      width: 600px;
      height: 80px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-left: 160px;
      margin-bottom: 50px;
    }

footer {
    background-color: pink;
    height: 30px;
    margin-top: 20px;
    padding: 10px 0 25px 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    }

footer p {
        text-align: center;
    }



    

    

